.app {
  font-family: Helvetica, sans-serif;

  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.fileButton {
  background: #0fc;
  font-size: 18px;
  border: 0;
  padding: 15px 40px;
  border-radius: 4px;
  color: #000;
  display: inline-block;
}

a {
  color: #000;
  text-decoration: none;

  background-image: linear-gradient(#0fc, #0fc);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}

h1 a {
  background-size: 100% 7px;
}

h1 {
  font-size: 48px;
  margin: 30px 0 100px;
}

.demos {
  display: flex;
  justify-content: space-between;
}

.demo {
  width: 31%;
}

.demoButton {
  height: 60px;
}

.codeWrapper {
  width: 100%;
  overflow-x: auto;

  background-color: #f8fefa;
}

code {
  width: 100%;
  display: block;
  white-space: pre;
  padding: 20px 15px;
}

@media screen and (max-width: 800px) {
  .demos {
    display: block;
  }

  .demo {
    width: 100%;
  }

  .demo + .demo {
    margin-top: 50px;
  }

  h1 {
    margin-bottom: 50px;
  }
}
